{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:shopify/esnext",
    "plugin:@typescript-eslint/eslint-recommended",
    "prettier"
  ],
  "rules": {
    "no-console": "warn",
    "@typescript-eslint/no-unused-vars": ["warn", { "args": "after-used" }],
    "no-unused-vars": ["warn", { "args": "after-used" }], //
    "prettier/prettier": ["error", {}, { "usePrettierrc": true }],
    "@typescript-eslint/no-explicit-module-boundary-types": "off"
  }
}
